:root {
    --elcom-primary-blue: #0F294A;
    --elcom-background-blue: #52647B;
    --elcom-primary-green: #6FA058;
    --elcom-background-green: #E8EAE6;
    --elcom-header-font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --elcom-body-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --elcom-font-size: 1rem;
    --elcom-line-height: 1.5rem;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #fcfcfc;
}

#app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
    font-family: "Lato";
    font-weight: 300;
    src: url(@/assets/fonts/Lato-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  src: url(@/assets/fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    font-weight: 700;
    src: url(@/assets/fonts/Lato-Bold.ttf) format("truetype");
}

a {
    text-decoration: none;
    color: var(--elcom-primary-green);
}

a:hover {
  text-decoration: none;
  color: var(--elcom-background-blue);
}

picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.elcom-popup-background {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 41, 74, 0.8);
    z-index: -1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.elcom-title {
    font-family: var(--elcom-header-font-family);
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
    text-align: left;
    color: var(--elcom-primary-blue);
}

.elcom-subtitle {
    font-family: var(--elcom-body-font-family);
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    color: var(--elcom-primary-green);
    margin-bottom: 1rem;
}

.elcom-emphasis {
  color: var(--elcom-primary-green);
}

.elcom-section {
    padding: 5rem 0;
    width: 100%;
}

.elcom-container {
  max-width: 75rem;
  margin: 0 auto;
}

@media (max-width: 77rem) {
  .elcom-section {
        padding: 3rem 0;
  }
    .elcom-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .elcom-title {
        max-width: 20ch;
    }
}

.elcom-half-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 3vh 3%;
}

.elcom-half-left, .elcom-half-right {
    width: 100%;
}

.elcom-pane {
    background-color: #eee;
    padding: 3rem;
}

.elcom-content {
  font-family: var(--elcom-body-font-family);
  text-align: justify;
  font-size: var(--elcom-font-size);
  line-height: var(--elcom-line-height);
}

.elcom-button {
    display: inline-block;
    background-color: transparent;
    color: var(--elcom-primary-green);
    font-family: var(--elcom-body-font-family);
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--elcom-primary-green);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.elcom-button:hover {
    background-color: var(--elcom-primary-green);
    color: #eee;
}

.elcom-links.elcom-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-family: var(--elcom-body-font-family);
}

.elcom-links.elcom-ul li {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.elcom-links.elcom-ul li a {
    color: var(--elcom-primary-blue);
    transition: color 0.3s ease;
}

.elcom-links.elcom-ul li a:hover {
    color: var(--elcom-primary-green);
}

.elcom-active {
    color: var(--elcom-primary-green) !important;
}

.elcom-quick-contact img {
    filter: brightness(0) saturate(100%) invert(11%) sepia(15%) saturate(6346%) hue-rotate(192deg) brightness(97%) contrast(93%);
    transition: filter 0.3s ease;
}

.elcom-quick-contact img:hover {
    filter: brightness(0) saturate(100%) invert(58%) sepia(21%) saturate(796%) hue-rotate(57deg) brightness(94%) contrast(93%);
}






